<div>
  <h2>My Variations</h2>
  <button (click)="getMainVariationByRecipeId()">Main Variation</button>
  <ul>
    <li *ngFor="let variation of variations">
      <button (click)="onSelectVariation(variation)">
        {{ variation.variationTitle }}
        <button (click)="openEditPopup(variation)">Edit Title</button>
        <button (click)="removeVariation(variation)">Remove</button>
      </button>
    </li>
    <li>
      <button (click)="openPopup()">New Variation</button>
    </li>
  </ul>
</div>

<div *ngIf="selectedVariation">
  <h3>Instructions for {{ selectedVariation.variationTitle }}</h3>
  <button (click)="openPullPopup()">Compare Varition</button>
  <textarea
    [(ngModel)]="selectedVariation.instructions"
    (blur)="updateInstructions()"
  >
  </textarea>
  <app-text-comparison
    [text1]="selectedVariation.instructions"
    [text2]="selectedPulledVariation.instructions"
  ></app-text-comparison>
</div>
<!-- Modal for new variation -->
<div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closePopup()">&times;</span>
    <p>Enter New Variation Title:</p>
    <input type="text" [(ngModel)]="newVariationTitle" />
    <button (click)="submitNewVariation()">Submit</button>
  </div>
</div>
<!-- Modal for update variation title -->
<div *ngIf="showEditModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeEditPopup()">&times;</span>
    <p>Edit Variation Title:</p>
    <input type="text" [(ngModel)]="newVariationTitle" />
    <button (click)="updateVariationTitle()">Submit</button>
  </div>
</div>
<!-- Modal for pull function -->
<div *ngIf="showPullModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closePullPopup()">&times;</span>
    <p>What variation do you want to compare to?</p>
    <ul>
      <li *ngFor="let variation of variations">
        <button (click)="setPulledVariation(variation)">
          {{ variation.variationTitle }}
        </button>
      </li>
    </ul>
  </div>
</div>
