/* .comparison-container {
  border: 1px solid #ccc;
  padding: 10px;
} */

.text-container {
  display: flex;
  justify-content: space-between;
}

.text-section {
  width: 48%; 
}

pre {
  background-color: #f5f5f5;
  padding: 10px;
  border: 1px solid #ccc;
  white-space: pre-wrap; /* Preserves whitespace and line breaks */
}

.highlight {
  background-color: #ffcccc; /* or any color you prefer */
}
