<div class="container-fluid container-diff">
  <h1>Text Compare</h1>
  <div *ngIf="isCompared" class="row">
    <div class="col-md-12">
      <form class="form-inline" role="form">
        <div class="form-check mb-2 mr-sm-2">
          <label class="form-check-label">
            <input
              class="form-check-input"
              type="checkbox"
              (change)="onChangeInline($event)"
            />
            Inline Diff
          </label>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="isCompared" class="row">
    <div class="col-md-12 editor">
      <ngx-monaco-diff-editor
        id="diffeditor"
        [options]="diffOptions"
        [originalModel]="originalModel"
        [modifiedModel]="modifiedModel"
      ></ngx-monaco-diff-editor>
    </div>
  </div>
  <div class="row">
    <!-- <div class="col-md-6">
      <div class="input-title">
        <label>Original Text</label>
      </div>
      <ngx-monaco-editor
        id="editor1"
        [options]="inputOptions"
        [(ngModel)]="text1"
      ></ngx-monaco-editor>
    </div> -->
    <div class="col-md-6">
      <div class="input-title">
        <label>Changed Text</label>
      </div>
      <ngx-monaco-editor
        id="editor2"
        [options]="inputOptions"
        [(ngModel)]="text2"
      ></ngx-monaco-editor>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="text-align: center">
      <button type="button" class="btn btn-primary" (click)="onCompare()">
        compare to latest version
      </button>
    </div>
  </div>
</div>
<br />
<br />
