<div>
  <div *ngIf="isCompared">
    <div>
      <form class="form-inline" role="form">
        <div>
          <label>
            <input type="checkbox" (change)="onChangeInline($event)" />
            Inline Diff
          </label>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="!isCompared">
    <div>
      <div>
        <label>Recipe</label>
      </div>
      <ngx-monaco-editor
        id="editor2"
        [options]="inputOptions"
        [(ngModel)]="newCommit!.instructions"
        style="height: 60vh"
      ></ngx-monaco-editor>
    </div>
  </div>

  <div *ngIf="isCompared">
    <div>
      <ngx-monaco-diff-editor
        id="diffeditor"
        [options]="diffOptions"
        [originalModel]="originalModel"
        [modifiedModel]="modifiedModel"
        style="height: 50vh"
      ></ngx-monaco-diff-editor>
    </div>
  </div>
</div>
